<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rise and Shine</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:300,800" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet" type="text/css"/>

    <link href="../static/css/app.css" th:href="@{css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="quote">
    <h1 th:text="${quote}">— Rise and Shine!</h1>

    <a href="javascript:document.location.reload();"
       ONMOUSEOVER="window.status='Refresh'; return true"
       ONMOUSEOUT="window.status='ah... that was good'">
        <button class="button button1">Ещё</button>
    </a>
</div>
</body>
</html>